language: python
install:
- pip install prance flex
script:
- python test/test.py
- prance validate --strict oai.json oai_stoplight.json oai.yaml
notifications:
  slack:
    if: branch = main
    on_pull_requests: false
    on_success: never
    on_failure: change
    rooms:
      secure: KhGk2d5rPXdu1zK1mI5Xw6krojLxvUrLrZSkceL50DPE6YS9PEhxxogAg/5hO5N/p6rA7T9z5P+ZfULtGv2oYj4Y6QLOMbbq9aPScVCbMaXXjrk5JFg2CnHvRhr1cI4YnV/3L4za4xQJrH47F1SklwQ8EbXjDiuLuhibVlj0h3FINUaFqhp78hbnX/X6lTUDZaACrgj4Rgq4H+fr5qsIVi6yEqpcE1BCcCtzQzN3PeDw3jJqkPjyQoGNiC+vtjJ1tuxbKxMUSCPaBWjHCdxng2iV3l83r6UH3dxqD8h6pOy/03idocqH+iK9yVBjIlrsf0qyexPEmA1F6uL2/YDhz/+h5hWph1bIeJEbKrRDo+yH35WL4y9jGy49bVk/e37cSihnn07NzLAJfGyQhEEITl7D+UWB4r1BKvCOOtOErDqHKWWd/gUweIO54XdzuYYJWeYFqwp9LJv8ehqG9l6XD7wTbya3hzIDN/sRMrk+ZQS0P8hGdb2/8IWbbUCsSg7NnAb3EyxRRUoj70ODm5tj9nQo35bIp+mFZ+NF6YcmlbKbldR5NdN4zK6Wvaamxg7kx7K61h7VMl2q32EsgJAURPPXLSw2aEDhKLJOQt61gwjqWWnoeQxceeUUftkRIidJDLAVFH3DVMmKOOwOzvU//tkWP0+XzgoR8ciATcoFSiY=
