{
    "openapi": "3.1.0",
    "info": {
        "version": "",
        "title": "Email Activity (beta)",
        "description": "The Beta endpoints for the new Email Activity APIs - functionality is subject to change without notice. You may not have access to this Beta endpoint.\n\nEmail Activity offers filtering and search by event type for two days worth of data. There is an optional add-on to store 60 days worth of data. This add-on also gives you access to the ability to download a CSV of the 60 days worth of email event data. The Beta endpoints for the new Email Activity APIs - functionality is subject to change without notice. You may not have access to this Beta endpoint.\n\nEmail Activity offers filtering and search by event type for two days worth of data. There is an optional add-on to store 60 days worth of data. This add-on also gives you access to the ability to download a CSV of the 60 days worth of email event data."
    },
    "servers": [
        {
            "url": "https://api.sendgrid.com",
            "description": "The Twilio SendGrid Production API."
        }
    ],
    "tags": [
        {
            "name": "Subuser Monitor Settings"
        },
        {
            "name": "segmenting contacts"
        },
        {
            "name": "Single Sign-On Settings"
        },
        {
            "name": "Settings - Partner"
        },
        {
            "name": "Contacts API - Recipients"
        },
        {
            "name": "Settings - Inbound Parse"
        },
        {
            "name": "Segmenting Contacts"
        },
        {
            "name": "IP Access Management"
        },
        {
            "name": "Messages"
        },
        {
            "name": "Suppressions - Unsubscribe Groups"
        },
        {
            "name": "Email CNAME records"
        },
        {
            "name": "CSV (UI only)"
        },
        {
            "name": "Bounces API"
        },
        {
            "name": "Designs API"
        },
        {
            "name": "Custom Fields"
        },
        {
            "name": "Segmenting Contacts V2 - Beta"
        },
        {
            "name": "Subuser Statistics"
        },
        {
            "name": "Send Test Email"
        },
        {
            "name": "IP Addresses"
        },
        {
            "name": "Query"
        },
        {
            "name": "V3"
        },
        {
            "name": "Invalid Emails API"
        },
        {
            "name": "Webhooks"
        },
        {
            "name": "Suppressions - Global Suppressions"
        },
        {
            "name": "Settings - Tracking"
        },
        {
            "name": "Contacts API - Lists"
        },
        {
            "name": "Marketing Campaigns Stats"
        },
        {
            "name": "API Key Permissions"
        },
        {
            "name": "Domain Authentication"
        },
        {
            "name": "Sender Identities API"
        },
        {
            "name": "Single Sign-On Teammates"
        },
        {
            "name": "Mail Send"
        },
        {
            "name": "Settings - Enforced TLS"
        },
        {
            "name": "IP Warmup"
        },
        {
            "name": "Categories"
        },
        {
            "name": "Campaigns API"
        },
        {
            "name": "Teammates"
        },
        {
            "name": "Sender Verification"
        },
        {
            "name": "Single Sends"
        },
        {
            "name": "Blocks API"
        },
        {
            "name": "Contacts"
        },
        {
            "name": "Certificates"
        },
        {
            "name": "Contacts API - Segments"
        },
        {
            "name": "Senders"
        },
        {
            "name": "Contacts API - Custom Fields"
        },
        {
            "name": "Spam Reports API"
        },
        {
            "name": "Subusers API"
        },
        {
            "name": "Link branding"
        },
        {
            "name": "Suppressions - Suppressions"
        },
        {
            "name": "Users API"
        },
        {
            "name": "Settings - Mail"
        },
        {
            "name": "API Keys"
        },
        {
            "name": "Transactional Templates"
        },
        {
            "name": "Reverse DNS"
        },
        {
            "name": "Email Address Validation"
        },
        {
            "name": "Transactional Templates Versions"
        },
        {
            "name": "Lists"
        },
        {
            "name": "Cancel Scheduled Sends"
        },
        {
            "name": "Stats"
        },
        {
            "name": "Alerts"
        },
        {
            "name": "IP Pools"
        }
    ],
    "x-stoplight": {
        "beforeScript": "function (ctx, request) {\n  \n  request.header.set('User-Agent', 'sendgrid/stoplightdocs');\n  \n  // REMOVE WITH CAUTION. OR AT LEAST, JUST LEAVE IT COMMENTED OUT.\n  // Removing this means your endpoint before scripts will not be run!\n  SL.runEndpoint();\n  \n  //adds the Accept header to every request\n  //  request.header.set(\"accept\", \"application/json\")\n  \n  //request.header.set(\"foo\", \"bear\");\n  //request.header.add(\"bar\", \"cat\");\n\n  // if (request.url.query.get('accept')) {\n  //   request.header.set('Accept', 'this is a bad header');\n  // }\n  \n  // if (request.url.query.get('behalf')) {\n  //   request.header.set('on-behalf-of', 'subuser2');\n  // }\n  \n  // For example, adding ?mock=200 to a request url will enable mocking,\n  // using the example endpoint response for the 200 status code.\n  // var mock = request.url.query.get(\"mock\")\n  // if (mock) {\n  //  ctx.mock.set(true, mock)\n  //}\n  \n  // For example, adding the header X-Mock: 200 will enable mocking,\n  // using the example endpoint response for the 200 status code.\n  // var mock = request.header.get(\"X-Mock\");\n  // if (mock) {\n\t // ctx.mock.set(true, mock);\n\t // ctx.learn.set(false);\n  // }\n}",
        "afterScript": "function (ctx, request, response) {\n  // REMOVE WITH CAUTION. OR AT LEAST, JUST LEAVE IT COMMENTED OUT.\n  // Removing this means your endpoint AFTER scripts will not be run!\n  SL.runEndpoint();\n  \n//  if (response.body.get().count() > 1) {\n//    request.hijack(200, 'application/json', {foo: 'bear'})\n//  }\n\n  \n  //make this always available\n  //SL.utilities.Audit_LogDataInResponse(ctx, request, response);\n  \n  //if (request.url.query.get('test')) {\n  //    SL.utilities.RunSpecifiedTests(ctx, request, response);\n  //}\n  \n  // ELMER: Remove this, it logs only DELETE calls\n  // if (JSON.parse(request.header.get('X-Mock')) == response.statusCode.get()) {\n  //   ctx.log.set(false);\n  // } else {\n  //   ctx.log.set(true);\n  //}\n}",
        "version": {
            "groups": {
                "docs": [
                    {
                        "divider": true,
                        "items": [],
                        "name": "Getting Started"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "api-authentication",
                                "type": "docTextSections"
                            },
                            {
                                "_id": "api-authorization",
                                "type": "docTextSections"
                            },
                            {
                                "_id": "api-requests",
                                "type": "docTextSections"
                            },
                            {
                                "_id": "on-behalf-of",
                                "type": "docTextSections"
                            },
                            {
                                "_id": "api-responses",
                                "type": "docTextSections"
                            },
                            {
                                "_id": "api-rate-limits",
                                "type": "docTextSections"
                            },
                            {
                                "_id": "api-errors",
                                "type": "docTextSections"
                            }
                        ],
                        "name": "How to use the SendGrid v3 API",
                        "description": "Welcome to SendGrid\u2019s Web API v3! This API is RESTful, fully featured, easy to integrate with, and offers support in [7 different languages](https://sendgrid.com/docs/for-developers/sending-email/libraries/).\n\n## Libraries\n\n* [C#](https://github.com/sendgrid/sendgrid-csharp)\n* [Go](https://github.com/sendgrid/sendgrid-go)\n* [Java](https://github.com/sendgrid/sendgrid-java)\n* [Node.js](https://github.com/sendgrid/sendgrid-nodejs)\n* [PHP](https://github.com/sendgrid/sendgrid-php)\n* [Python](https://github.com/sendgrid/sendgrid-python)\n* [Ruby](https://github.com/sendgrid/sendgrid-ruby)"
                    },
                    {
                        "description": "",
                        "items": [
                            {
                                "_id": "POST_mail-send",
                                "type": "endpoints"
                            },
                            {
                                "_id": "mail-send-limitations",
                                "type": "docTextSections"
                            },
                            {
                                "_id": "mail-send-validation",
                                "type": "docTextSections"
                            },
                            {
                                "_id": "mail-send-errors",
                                "type": "docTextSections"
                            },
                            {
                                "_id": "cc_bcc_email_object",
                                "type": "schemas"
                            },
                            {
                                "type": "schemas",
                                "_id": "from_email_object"
                            },
                            {
                                "_id": "reply_to_email_object",
                                "type": "schemas"
                            },
                            {
                                "_id": "to_email_array",
                                "type": "schemas"
                            },
                            {
                                "_id": "mailSendErrors",
                                "type": "traits"
                            }
                        ],
                        "name": "Mail Send",
                        "divider": false
                    },
                    {
                        "items": [
                            {
                                "_id": "POST_mail-batch",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_user-scheduledsends",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mail-batch-batchid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_user-scheduledsends",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_user-scheduledsends-batchid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_user-scheduledsends-batchid",
                                "type": "endpoints"
                            },
                            {
                                "type": "endpoints",
                                "_id": "DELETE_user-scheduledsends-batchid"
                            },
                            {
                                "type": "schemas",
                                "_id": "mail_batch_id"
                            },
                            {
                                "_id": "user_scheduled_send_status",
                                "type": "schemas"
                            },
                            {
                                "_id": "cancelScheduledSendsErrors",
                                "type": "traits"
                            }
                        ],
                        "name": "Cancel Scheduled Sends",
                        "description": "The Cancel Scheduled Sends API allows you to cancel or pause the send of one or more emails using a batch ID.\n\nA `batch_id` groups multiple scheduled `mail/send` requests together with the same ID. You can cancel or pause all of the `mail/send` requests associated with a batch ID up to 10 minutes before the scheduled send time by passing a `batch_id` to the \"Cancel or puase a scheduled send\" endpoint.\n\nFor a guide on creating a `batch_id`, assigning it to a scheduled send, and modifying the send, see [\"Canceling a Scheduled Send\"](https://sendgrid.com/docs/for-developers/sending-email/stopping-a-scheduled-send/).\n\nThe Cancel Scheduled Sends API also make it possible to validate a `batch_id` and retrieve all scheduled sends as an array.\n\nWhen a batch is canceled, all messages associated with that batch will stay in your sending queue. When their `send_at` value is reached, they will be discarded.\n\nWhen a batch is paused, all messages associated with that batch will stay in your sending queue, even after their `send_at` value has passed. This means you can remove a `pause` status, and your scheduled send will be delivered once the pause is removed. Any messages left with a `pause` status that are more than 72 hours old will be discarded as Expired.",
                        "divider": false
                    },
                    {
                        "divider": true,
                        "items": [],
                        "name": "Security"
                    },
                    {
                        "description": "Your application, mail client, or website can all use API (Application Programming Interface) keys to authenticate access to SendGrid services. You can revoke an API key at any time without having to change your username and password, and an API key can be scoped to perform a limited number of actions.\n\nThere are 3 different types of API keys:\n\n* **Full Access**  \nAllows the API key to access `GET`, `PATCH`, `PUT`, `DELETE` and `POST` endpoints for all parts of your account, excluding billing and Email Address Validation.\n* **Restricted Access**  \nCustomizes levels of access for all parts of your account, excluding billing and Email Address Validation.\n* **Billing Access**  \nAllows the API key to access billing endpoints for the account.\n\nYou must create your first API key using the [Twilio SendGrid App](https://app.sendgrid.com/settings/api_keys). Once you have a key with permissions to manage other keys, you can use the endpoints documented as part of this API.",
                        "divider": false,
                        "items": [
                            {
                                "_id": "create-api-keys",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_apikeys",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_apikeys-apikeyid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_apikeys-apikeyid",
                                "type": "endpoints"
                            },
                            {
                                "type": "endpoints",
                                "_id": "PUT_apikeys-apikeyid"
                            },
                            {
                                "_id": "DELETE_apikeys-apikeyid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "api_key_name_id",
                                "type": "schemas"
                            },
                            {
                                "_id": "api_key_name_id_scopes",
                                "type": "schemas"
                            },
                            {
                                "_id": "apiKeysErrors",
                                "type": "traits"
                            }
                        ],
                        "name": "API Keys"
                    },
                    {
                        "name": "API Key Permissions",
                        "divider": false,
                        "items": [
                            {
                                "_id": "api-key-permissions",
                                "type": "docTextSections"
                            },
                            {
                                "_id": "GET_scopes",
                                "type": "endpoints"
                            }
                        ]
                    },
                    {
                        "items": [
                            {
                                "_id": "GET_user-settings-enforcedtls",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_user-settings-enforcedtls",
                                "type": "endpoints"
                            },
                            {
                                "_id": "enforced-tls-request-response",
                                "type": "schemas"
                            }
                        ],
                        "name": "Settings - Enforced TLS",
                        "description": "The Enforced TLS settings specify whether or not the recipient of your send is required to support TLS or have a valid certificate. The Enforced TLS endpoint supports retrieving and updating TLS settings.\n\nTwilio SendGrid sends all emails with [Opportunistic TLS](https://sendgrid.com/blog/myth-opportunistic-tls-email-privacy/) by default, meaning email is sent with TLS, and if the recipient's inbox provider does not accept the TLS encryption, we then send the message unencrypted.\n\nYou can optionally choose to enforce TLS encryption, meaning that if the recipient's inbox provider does not accept the TLS encryption, Twilio SendGrid drops the message and sends a block event with \u201cTLS required but not supported\u201d as the description.",
                        "divider": false
                    },
                    {
                        "items": [
                            {
                                "_id": "POST_accesssettings-whitelist",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_accesssettings-activity",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_accesssettings-whitelist",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_accesssettings-whitelist-ruleid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_accesssettings-whitelist",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_accesssettings-whitelist-ruleid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "ip-access-response",
                                "type": "schemas"
                            }
                        ],
                        "name": "IP Access Management",
                        "divider": false,
                        "description": "IP Access Management allows you to control which IP addresses can be used to access your account, either through the User Interface or the API.\n\nThere is no limit to the number of IP addresses that you can allow.\n\n> It is possible to remove your own IP address from your list of allowed addresses, thus blocking your own access to your account. While we are able to restore your access, we do require thorough proof of your identify and ownership of your account. We take the security of your account very seriously, and wish to prevent any 'bad actors' from maliciously gaining access to your account.\n>\n> Your current IP is clearly displayed to help prevent you from accidentally removing it from the allowed addresses.\n\nFor more information, please see our [IP Access Management documentation](https://sendgrid.com/docs/ui/account-and-settings/ip-access-management/)."
                    },
                    {
                        "divider": true,
                        "items": [],
                        "name": "Single Sign-On"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "sso-error-response",
                                "type": "schemas"
                            },
                            {
                                "_id": "singleSignOnErrorsTrait",
                                "type": "traits"
                            }
                        ],
                        "name": "Single Sign-On Shared Models and Traits"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "POST_sso-certificates",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_sso-integrations-integrationid-certificates",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_sso-certificates-certid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_sso-certificates-certid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_sso-certificates-certid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "sso-certificate-body",
                                "type": "schemas"
                            }
                        ],
                        "name": "Certificates",
                        "description": ">Twilio SendGrid Single Sign-On is currently in beta. The following documentation and product interface may change as the product is improved.\n>\n>**Known limitations during beta**  \nTwilio SendGrid SSO does not currently support granting an SSO user access to more than one Subuser without granting the SSO user administrator access at the top level of your Twilio SendGrid account.\n\nThe Single Sign-On APIs allow you to manage your SAML 2.0 SSO configurations. You can also work with your SSO integrations using the [SSO section of the Twilio SendGrid App](https://app.sendgrid.com/settings/sso).\n\nThe Certificates API allows you to create, modify, and delete SSO certificates. A SAML certificate allows your IdP and Twilio SendGrid to verify requests are coming from one another using the `public_certificate` and `integration_id` parameters.\n\nFor more information about managing SSO Certificates, see the [Twilio SendGrid SSO documentation](https://sendgrid.com/docs/ui/account-and-settings/sso/)."
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "POST_sso-integrations",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_sso-integrations",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_sso-integrations-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_sso-integrations-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_sso-integrations-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "create-integration-request",
                                "type": "schemas"
                            },
                            {
                                "_id": "sso-integration",
                                "type": "schemas"
                            }
                        ],
                        "name": "Single Sign-On Settings",
                        "description": ">Twilio SendGrid Single Sign-On is currently in beta. The following documentation and product interface may change as the product is improved.\n>\n>**Known limitations during beta**  \nTwilio SendGrid SSO does not currently support granting an SSO user access to more than one Subuser without granting the SSO user administrator access at the top level of your Twilio SendGrid account.\n\nThe Single Sign-On APIs allow you to manage your SAML 2.0 SSO configurations. You can also work with your SSO integrations using the [SSO section of the Twilio SendGrid App](https://app.sendgrid.com/settings/sso).\n\nThe Single Sign-On Settings API allows you to create, retrieve, modify, and delete SSO integrations for your Twilio SendGrid account. Each integration will correspond to a specific IdP such as Okta, Duo, or Microsoft Azure Active Directory.\n\n"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "POST_sso-teammates",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_sso-teammates-username",
                                "type": "endpoints"
                            },
                            {
                                "_id": "sso-teammate-common-fields",
                                "type": "schemas"
                            },
                            {
                                "_id": "sso-teammate-request",
                                "type": "schemas"
                            },
                            {
                                "_id": "sso-teammate-response",
                                "type": "schemas"
                            },
                            {
                                "_id": "sso-teammates-patch-response",
                                "type": "schemas"
                            }
                        ],
                        "name": "Single Sign-On Teammates",
                        "description": ">Twilio SendGrid Single Sign-On is currently in beta. The following documentation and product interface may change as the product is improved.\n>\n>**Known limitations during beta**  \nTwilio SendGrid SSO does not currently support granting an SSO user access to more than one Subuser without granting the SSO user administrator access at the top level of your Twilio SendGrid account.\n\nThe Single Sign-On APIs allow you to manage your SAML 2.0 SSO configurations. You can also work with your SSO integrations using the [SSO section of the Twilio SendGrid App](https://app.sendgrid.com/settings/sso).\n\nThe Single Sign-On Teammates API allows you to add and modify SSO Teammates. SSO Teammates are the individual user accounts who will access your Twilio SendGrid account with SSO credentials.\n\nTo retrieve or delete an SSO Teammate, you will use the [Teammates API](https://sendgrid.api-docs.io/v3.0/teammates). \n\nFor more information about managing SSO Teammates, see the [Twilio SendGrid SSO documentation](https://sendgrid.com/docs/ui/account-and-settings/sso/#manage-users)."
                    },
                    {
                        "divider": true,
                        "items": [],
                        "name": "Settings"
                    },
                    {
                        "items": [
                            {
                                "type": "endpoints",
                                "_id": "GET_mailsettings"
                            },
                            {
                                "_id": "PATCH_mailsettings-addresswhitelist",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mailsettings-addresswhitelist",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_mailsettings-footer",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mailsettings-footer",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_mailsettings-forwardspam",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mailsettings-forwardspam",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_mailsettings-template",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mailsettings-template",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_mailsettings-bouncepurge",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mailsettings-bouncepurge",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_mailsettings-forwardbounce",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mailsettings-forwardbounce",
                                "type": "endpoints"
                            },
                            {
                                "_id": "mail_settings_patch",
                                "type": "schemas"
                            },
                            {
                                "_id": "mail_settings_address_whitelabel",
                                "type": "schemas"
                            },
                            {
                                "_id": "mail_settings_footer",
                                "type": "schemas"
                            },
                            {
                                "type": "schemas",
                                "_id": "mail_settings_forward_spam"
                            },
                            {
                                "_id": "mail_settings_template",
                                "type": "schemas"
                            },
                            {
                                "_id": "mail_settings_bounce_purge",
                                "type": "schemas"
                            },
                            {
                                "_id": "mail_settings_forward_bounce",
                                "type": "schemas"
                            }
                        ],
                        "name": "Settings - Mail",
                        "description": "Mail Settings instruct SendGrid to apply specific settings to every email that you send over [SendGrid\u2019s v3 API](https://sendgrid.api-docs.io/v3.0/mail-send/v3-mail-send) or [SMTP Relay](https://sendgrid.com/docs/for-developers/sending-email/building-an-x-smtpapi-header/). These settings include how to embed a custom footer, how to manage blocks, spam, and bounces, and more.\n\nFor a full list of Twilio SendGrid's Mail Settings, and what each one does, see our [Mail Settings documentation](https://sendgrid.com/docs/ui/account-and-settings/mail/).\n\nYou can also manage your Mail Settings in the [Twilio SendGrid App](https://app.sendgrid.com/settings/mail_settings)",
                        "divider": false
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "PATCH_partnersettings-newrelic",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_partnersettings-newrelic",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_partnersettings",
                                "type": "endpoints"
                            },
                            {
                                "_id": "partner_settings_new_relic",
                                "type": "schemas"
                            }
                        ],
                        "name": "Settings - Partner",
                        "description": "Elements that can be shared among more than one endpoint definition."
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "POST_v3-teammates",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_v3-teammates-pending-token-resend",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_v3-teammates",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_v3-scopes-requests",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_v3-teammates-pending",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_v3-teammates-username",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_v3-scopes-requests-approve-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_v3-teammates-username",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_v3-scopes-requests-request_id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_v3-teammates-pending-token",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_v3-teammates-username",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Teammates",
                        "description": "Give and adjust account access."
                    },
                    {
                        "name": "Alerts",
                        "items": [
                            {
                                "_id": "POST_alerts",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_alerts",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_alerts-alertid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_alerts-alertid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_alerts-alertid",
                                "type": "endpoints"
                            }
                        ],
                        "divider": false,
                        "description": "Elements that can be shared among more than one endpoint definition."
                    },
                    {
                        "items": [
                            {
                                "_id": "user_profile",
                                "type": "schemas"
                            },
                            {
                                "_id": "GET_user-profile",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_user-profile",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_user-account",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_user-email",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PUT_user-email",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_user-username",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PUT_user-username",
                                "type": "endpoints"
                            },
                            {
                                "type": "endpoints",
                                "_id": "GET_user-credits"
                            },
                            {
                                "_id": "PUT_user-password",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Users API",
                        "description": "Keeping your user profile up to date helps SendGrid verify who you are and share important communications with you.\n\nYou can learn more in the [SendGrid Account Details documentation.](https://sendgrid.com/docs/ui/account-and-settings/account/)",
                        "divider": false
                    },
                    {
                        "items": [
                            {
                                "type": "schemas",
                                "_id": "subuser"
                            },
                            {
                                "_id": "subuser_post",
                                "type": "schemas"
                            },
                            {
                                "type": "endpoints",
                                "_id": "GET_subusers"
                            },
                            {
                                "_id": "POST_subusers",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_subusers-subusername",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_subusers-subusername",
                                "type": "endpoints"
                            },
                            {
                                "type": "endpoints",
                                "_id": "GET_subusers-reputations"
                            },
                            {
                                "_id": "PUT_subusers-subusername-ips",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Subusers API",
                        "description": "For more information about Subusers, visit the [longform Subusers documentation](https://sendgrid.com/docs/ui/account-and-settings/subusers/). You can also [manage Subusers in the SendGrid console](https://app.sendgrid.com/settings/subusers).",
                        "divider": false
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "monitor",
                                "type": "schemas"
                            },
                            {
                                "_id": "GET_subusers-subusername-monitor",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_subusers-subusername-monitor",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PUT_subusers-subusername-monitor",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_subusers-subusername-monitor",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Subuser Monitor Settings",
                        "description": "Subuser monitor settings allow you to receive a sample of an outgoing message from a specific customer at a specific frequency of emails."
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "subuser_stats",
                                "type": "schemas"
                            },
                            {
                                "_id": "GET_subusers-subusername-stats-monthly",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_subusers-stats-monthly",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_subusers-stats-sums",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_subusers-stats",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Subuser Statistics",
                        "description": "Subuser statistics enable you to view specific segments of your statistics, as compared to the general overview of all email activity on your account. SendGrid tracks your subusers' emails sent, bounces, and spam reports. Unsubscribes, clicks, and opens are tracked if you have enabled the required settings.\n\nFor more information, see our [Subusers documentation](https://sendgrid.com/docs/ui/account-and-settings/subusers/). You can also access [Subuser Statistics in the SendGrid console](https://app.sendgrid.com/statistics/subuser)."
                    },
                    {
                        "divider": true,
                        "items": [],
                        "name": "Deliverability"
                    },
                    {
                        "name": "Link branding",
                        "items": [
                            {
                                "_id": "POST_whitelabel-links",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_whitelabel-links-id-validate",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_whitelabel-links-linkid-subuser",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_whitelabel-links",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_whitelabel-links-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_whitelabel-links-default",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_whitelabel-links-subuser",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_whitelabel-links-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_whitelabel-links-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_whitelabel-links-subuser",
                                "type": "endpoints"
                            },
                            {
                                "_id": "link_branding_200_response",
                                "type": "schemas"
                            }
                        ],
                        "description": "Email link branding (formerly \"Link Whitelabel\") allows all of the click-tracked links, opens, and images in your emails to be served from your domain rather than `sendgrid.net`. Spam filters and recipient servers look at the links within emails to determine whether the email looks trustworthy. They use the reputation of the root domain to determine whether the links can be trusted.\n\nYou can also manage link branding in the [Sender Authentication section of the Twilio SendGrid App](https://app.sendgrid.com/settings/sender_auth).\n\nFor more information, please see our [Link Branding documentation](https://sendgrid.com/docs/ui/account-and-settings/how-to-set-up-link-branding/).",
                        "divider": false
                    },
                    {
                        "name": "IP Warmup",
                        "items": [
                            {
                                "_id": "POST_ips-warmup",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_ips-warmup",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_ips-warmup-ipaddress",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_ips-warmup-ipaddress",
                                "type": "endpoints"
                            },
                            {
                                "type": "schemas",
                                "_id": "ip_warmup_response"
                            }
                        ],
                        "description": "IP warming is the practice of gradually increasing the volume of mail sent with a dedicated IP address according to a predetermined schedule. This gradual process helps to establish a reputation with ISPs (Internet Service Providers) as a legitimate email sender.\n\nSendGrid can automatically [warm up](https://sendgrid.com/docs/glossary/ip-warmup/) dedicated IP addresses by limiting the amount of mail that can be sent through them per hour. The limit determined by how long the IP address has been warming up. \n\nSee the [warmup schedule](https://sendgrid.com/docs/ui/sending-email/warming-up-an-ip-address/#automated-ip-warmup-hourly-send-schedule) to learn how SendGrid limits your email traffic for IPs in warmup.\n\nYou can also choose to use Twilio SendGrid's automated IP warmup for any of your IPs from the [\"IP Addresses\" settings menu in the Twilio SendGrid App](https://app.sendgrid.com/settings/ip_addresses).",
                        "divider": false
                    },
                    {
                        "items": [
                            {
                                "_id": "POST_whitelabel-ips",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_whitelabel-ips-id-validate",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_whitelabel-ips",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_whitelabel-ips-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_whitelabel-ips-id",
                                "type": "endpoints"
                            },
                            {
                                "type": "schemas",
                                "_id": "reverse_dns"
                            }
                        ],
                        "name": "Reverse DNS",
                        "description": "Reverse DNS (formerly IP Whitelabel) allows mailbox providers to verify the sender of an email by performing a reverse DNS lookup upon receipt of the emails you send.\n\nReverse DNS is available for [dedicated IP addresses](https://sendgrid.com/docs/ui/account-and-settings/dedicated-ip-addresses/) only.\n\nWhen setting up reverse DNS, Twilio SendGrid will provide an A Record (address record) for you to add to your DNS records. The A Record maps your sending domain to a dedicated Twilio SendGrid IP address.\n\nA Reverse DNS consists of a subdomain and domain that will be used to generate a reverse DNS record for a given IP address. Once Twilio SendGrid has verified that the appropriate A record for the IP address has been created, the appropriate reverse DNS record for the IP address is generated.\n\nYou can also manage your reverse DNS settings in the [Sender Authentication setion of the Twilio SendGrid App](https://app.sendgrid.com/settings/sender_auth).\n\nFor more about Reverse DNS, see [\"How to set up reverse DNS\"](https://sendgrid.com/docs/ui/account-and-settings/how-to-set-up-reverse-dns/) in the Twilio SendGrid documentation.",
                        "divider": false
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "POST_validations-email",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Email Address Validation",
                        "description": "**Email Address Validation is available to Email API Pro and Premier level accounts only. Prior to upgrading your account to Pro or Premier, you will not see the option to create an Email Validation API key. An Email Validation API key is separate from and in addition to your other keys, including a Full Access API key.**\n\nEmail Address Validation provides real-time detailed information on the validity of email addresses. You can integrate this validation process into your platform's signup form and customize the best use of email address validation for your use case.\n\nYou can use this API to:\n\n* Indicate to users that the address they have entered into a form is invalid.\n* Drop invalid email addresses from your database.\n* [Suppress invalid email addresses](https://sendgrid.com/docs/ui/sending-email/index-suppressions/#different-types-of-suppressions) from your sending to decrease your bounce rate.\n\nYou can learn more about enabling Email Validation in our [Email Validation documentation](https://sendgrid.com/docs/ui/managing-contacts/email-address-validation/).\n\nYou can also view your Email Validation results and metrics in the [Validation section of the Twilio SendGrid App](https://app.sendgrid.com/email_validation). Again, these settings are available only after upgrading your account to Pro or higher."
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "POST_whitelabel-dns-email",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Email CNAME records",
                        "description": "If you don't have access to modify your companies DNS records, you can email the records to a co-worker who does to complete [Domain Authentication](https://sendgrid.com/docs/ui/account-and-settings/how-to-set-up-domain-authentication/) and/or [Link Branding](https://sendgrid.com/docs/ui/account-and-settings/how-to-set-up-link-branding/) setups. This email includes a direct link to the DNS records. The link does expire, but the recipient doesn't need login access to your Twilio SendGrid account.\n"
                    },
                    {
                        "items": [
                            {
                                "_id": "POST_ips-pools",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_ips-pools-poolname-ips",
                                "type": "endpoints"
                            },
                            {
                                "type": "endpoints",
                                "_id": "GET_ips-pools"
                            },
                            {
                                "_id": "GET_ips-pools-poolname",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PUT_ips-pools-poolname",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_ips-pools-poolname",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_ips-pools-poolname-ips-ip",
                                "type": "endpoints"
                            },
                            {
                                "_id": "ip_pool",
                                "type": "schemas"
                            },
                            {
                                "_id": "ip_pool_response",
                                "type": "schemas"
                            }
                        ],
                        "name": "IP Pools",
                        "description": "IP pools allow you to group your dedicated SendGrid IP addresses. For example, you could create separate one pool for your transactional email and another for your marketing email. When sending marketing emails, specify that you want to use the marketing IP pool. This allows you to maintain separate reputations for your different email traffic.\n\nA single IP address or a range of IP addresses may be dedicated to an account in order to send email for multiple domains. The reputation of this IP is based on the aggregate performance of all the senders who use it.\n\nIP pools can only be used with IP addresses for which you\u2019ve set up a reverse DNS record.\n\nIf an IP pool is *not* specified for an email, it will use any IP available, including pooled addresses.\n\n**Each user can create up to 10 different IP pools.**",
                        "divider": false
                    },
                    {
                        "items": [
                            {
                                "_id": "POST_ips",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_ips-remaining",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_ips",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_ips-assigned",
                                "type": "endpoints"
                            },
                            {
                                "type": "endpoints",
                                "_id": "GET_ips-ipaddress"
                            }
                        ],
                        "name": "IP Addresses",
                        "description": "Elements that can be shared among more than one endpoint definition.",
                        "divider": false
                    },
                    {
                        "description": "An authenticated domain allows you to remove the \u201cvia\u201d or \u201csent on behalf of\u201d message that your recipients see when they read your emails. Authenticating a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will get 2 TXT records and 1 MX record.\n\nDomain Authentication was formerly called \"Domain Whitelabel\".\n\nFor more information, please see [How to set up domain authentication](https://sendgrid.com/docs/ui/account-and-settings/how-to-set-up-domain-authentication/).",
                        "divider": false,
                        "items": [
                            {
                                "_id": "domain_authentication:domain_spf",
                                "type": "schemas"
                            },
                            {
                                "_id": "authentication::domain",
                                "type": "schemas"
                            },
                            {
                                "_id": "domain-authentication-200-response",
                                "type": "schemas"
                            },
                            {
                                "type": "endpoints",
                                "_id": "GET_whitelabel-domains"
                            },
                            {
                                "_id": "GET_whitelabel-domains-domainid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_whitelabel-domains",
                                "type": "endpoints"
                            },
                            {
                                "type": "endpoints",
                                "_id": "PATCH_whitelabel-domains-domainid"
                            },
                            {
                                "_id": "DELETE_whitelabel-domains-domainid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_whitelabel-domains-default",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_whitelabel-domains-id-ips",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_whitelabel-domains-id-ips-ip",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_whitelabel-domains-id-validate",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_whitelabel-domains-subuser",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_whitelabel-domains-subuser",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_whitelabel-domains-domainid-subuser",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Domain Authentication"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "GET_verifiedsenders-domains",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_verifiedsenders-stepscompleted",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_verifiedsenders",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_verifiedsenders-verify-token",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_verifiedsenders-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_verifiedsenders-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_verifiedsenders",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_verifiedsenders-resend-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "verified-sender-request-schema",
                                "type": "schemas"
                            },
                            {
                                "_id": "verified-sender-response-schema",
                                "type": "schemas"
                            }
                        ],
                        "name": "Sender Verification",
                        "description": "The Sender Verification API exposes multiple endpoints that allow you to programmatically manage the [Sender Identities](https://sendgrid.com/docs/for-developers/sending-email/sender-identity/) that are authorized to send email for your account.\nYou can also manage Sender Identities in the SendGrid app by selecting [**Sender Authentication** under **Settings** in the navigation bar](https://app.sendgrid.com/settings/sender_auth). For full app instructions, see [Sender Verification](https://sendgrid.com/docs/ui/sending-email/sender-verification/).\n\nThe Sender Verification API provides a RESTful interface for creating new Sender Identities, retrieving a list of existing Sender Identities, checking the status of a Sender Identity, updating a Sender Identity, and deleting a Sender Identity.\n \nThis API offers additional endpoints to check for domains known to implement DMARC, and resend verification emails to Sender Identities that have yet to complete the verification process."
                    },
                    {
                        "divider": true,
                        "items": [],
                        "name": "Design Library"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "_metadata",
                                "type": "schemas"
                            },
                            {
                                "_id": "api-error",
                                "type": "schemas"
                            },
                            {
                                "_id": "api-errors",
                                "type": "schemas"
                            },
                            {
                                "_id": "design-duplicate-input",
                                "type": "schemas"
                            },
                            {
                                "_id": "design-common-fields",
                                "type": "schemas"
                            },
                            {
                                "_id": "design-input",
                                "type": "schemas"
                            },
                            {
                                "_id": "design-output-summary",
                                "type": "schemas"
                            },
                            {
                                "_id": "design-output",
                                "type": "schemas"
                            },
                            {
                                "_id": "designsQueryStrings",
                                "type": "traits"
                            },
                            {
                                "_id": "POST-design",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST-design",
                                "type": "endpoints"
                            },
                            {
                                "_id": "LIST-designs",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET-design",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST-sendgrid-pre-built-design",
                                "type": "endpoints"
                            },
                            {
                                "_id": "LIST-Sendgrid-Pre-built-designs",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET-sendgrid-pre-built-design",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PUT-design",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE-design",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Designs API",
                        "description": "The Designs API offers the ability to manage assets stored in the Twilio SendGrid [Design Library](https://mc.sendgrid.com/design-library/my-designs).\n\nThe Design Library is a feature-rich email layout tool and media repository. You can [build designs for all your email needs](https://sendgrid.com/docs/ui/sending-email/working-with-marketing-campaigns-email-designs/), including Single Sends, Automations, and Dynamic Templates.\n\nYou can also duplicate and then modify one of the pre-built designs provided by Twilio SendGrid to get you started.\n\nThe Designs API provides a RESTful interface for creating new designs, retrieving a list of existing designs, duplicating or updating a design, and deleting a design."
                    },
                    {
                        "divider": true,
                        "items": [],
                        "name": "New Marketing Campaigns"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "contact-import",
                                "type": "schemas"
                            },
                            {
                                "_id": "single-contact-request",
                                "type": "schemas"
                            },
                            {
                                "_id": "contact-export",
                                "type": "schemas"
                            },
                            {
                                "_id": "contact-summary",
                                "type": "schemas"
                            },
                            {
                                "_id": "contact-request",
                                "type": "schemas"
                            },
                            {
                                "_id": "contact-details",
                                "type": "schemas"
                            },
                            {
                                "_id": "contact-details2",
                                "type": "schemas"
                            },
                            {
                                "_id": "contact-details3",
                                "type": "schemas"
                            },
                            {
                                "_id": "PUT_mc-contacts",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_mc-contacts",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mc-contacts-count",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_mc-contacts-exports",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mc-contacts-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_mc-contacts-search",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mc-contats",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PUT_mc-contacts-imports",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_marketing-contacts-imports-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mc-contacts-exports-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_marketing-contacts-exports",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_marketing-contacts-batch",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_marketing-contacts-search-emails",
                                "type": "endpoints"
                            },
                            {
                                "_id": "tip",
                                "type": "docTextSections"
                            }
                        ],
                        "name": "Contacts"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "segment_status_response",
                                "type": "schemas"
                            },
                            {
                                "_id": "all_segments_response",
                                "type": "schemas"
                            },
                            {
                                "_id": "segment_summary_v2",
                                "type": "schemas"
                            },
                            {
                                "_id": "contact_response",
                                "type": "schemas"
                            },
                            {
                                "_id": "segment_response",
                                "type": "schemas"
                            },
                            {
                                "_id": "errors-seg-v2",
                                "type": "schemas"
                            },
                            {
                                "_id": "segment_write_v2",
                                "type": "schemas"
                            },
                            {
                                "_id": "segment_update",
                                "type": "schemas"
                            },
                            {
                                "_id": "_metadata",
                                "type": "schemas"
                            },
                            {
                                "_id": "POST_segments",
                                "type": "endpoints"
                            },
                            {
                                "_id": "errors",
                                "type": "traits"
                            },
                            {
                                "_id": "PATCH_segments-segment_id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_segments",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_segments-segment_id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_segments-segment_id",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Segmenting Contacts V2 - Beta"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "senders-id-request-body",
                                "type": "schemas"
                            },
                            {
                                "_id": "TNE-senderID",
                                "type": "schemas"
                            },
                            {
                                "_id": "POST_marketing-senders",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Senders"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "list",
                                "type": "schemas"
                            },
                            {
                                "_id": "POST_mc-lists",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mc-lists-id-contacts-count",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mc-lists-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mc-lists",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_mc-lists-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_lists-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_mc-lists-id-contacts",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Lists",
                        "description": "Lists are static collections of Marketing Campaigns contacts. This API allows you to interact with the list objects themselves. To add contacts to a list, you must use the [Contacts API](https://sendgrid.api-docs.io/v3.0/contacts).\n\nYou can also manage your lists using the [Contacts menu in the Marketing Campaigns UI](https://mc.sendgrid.com/contacts). For more information about lists and best practices for building them, see [\"Building your Contact List\"](https://sendgrid.com/docs/ui/managing-contacts/building-your-contact-list/)."
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "custom-fields-by-name",
                                "type": "schemas"
                            },
                            {
                                "_id": "custom-fields-by-id",
                                "type": "schemas"
                            },
                            {
                                "_id": "reserved_field_definitions_response",
                                "type": "schemas"
                            },
                            {
                                "_id": "custom_field_definitions_response",
                                "type": "schemas"
                            },
                            {
                                "_id": "POST_mc-field_definitions",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_mc-field_definitions",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_mc-field_definitions-custom_field_id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_mc-field_definitions-custom_field_id",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Custom Fields",
                        "description": "Custom Fields allow you to add extra information about your contacts to your contact database. With custom fields, you can create custom segments from your individual contacts or from your contact database that will dynamically update your content with the values for the individual contact receiving the email. Your custom fields are completely customizable to the use cases and user information that you need.\n\nYou can also manage your Custom Fields using the [Custom Fields UI in the Marketing Campaigns App](https://mc.sendgrid.com/custom-fields). For more about creating Custom Fields, including a list of Reserved Fields, see our [Custom Fields documentation](https://sendgrid.com/docs/ui/managing-contacts/custom-fields/)."
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "xJZx99h8rizghwRct",
                                "type": "traits"
                            },
                            {
                                "_id": "segment_write",
                                "type": "schemas"
                            },
                            {
                                "_id": "contact_response",
                                "type": "schemas"
                            },
                            {
                                "_id": "segment_summary",
                                "type": "schemas"
                            },
                            {
                                "_id": "full-segment",
                                "type": "schemas"
                            },
                            {
                                "_id": "segment_query_json",
                                "type": "schemas"
                            },
                            {
                                "_id": "POST_marketing-segments",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_marketing-segments-segmentid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_marketing-segments",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_marketing-segments-segmentid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_marketing-segments-segmentid",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_marketing-segments-delete",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Segmenting Contacts",
                        "description": "Segments are similar to contact lists, except they update dynamically over time as information stored about your contacts or the criteria used to define your segments changes. When you segment your audience, you are able to create personalized Automation emails and Single Sends that directly address the wants and needs of your particular audience.\n\nThe Marketing Campaigns Segments API allows you to create, edit, and delete segments as well as retrieve a list of segments or an individual segment by ID.\n\n> Note that Twilio SendGrid checks for newly added or modified contacts who meet a segment's criteria on an hourly schedule. Only existing contacts who meet a segment's criteria will be included in the segment searches within 15 minutes.\n>\n> Segments built using engagement data such as \"was sent\" or \"clicked\" will take approximately 30 minutes to begin populating.\n>\n> Segment samples and counts are refreshed approximately once per hour; they do not update immediately. If no contacts are added to or removed from a segment since the last refresh, the sample and UI count displayed will be refreshed at increasing time intervals with a maximum sample and count refresh delay of 24 hours.\n\nFor more information on creating segments with the Twilio SendGrid Marketing Campaigns UI see [\"Segmenting your Contacts.\"](https://sendgrid.com/docs/ui/managing-contacts/segmenting-your-contacts/)\n\nFor help with Segmentation Query Language, see our [Segmentation Query Language reference](https://sendgrid.com/docs/for-developers/sending-email/segmentation-query-language/)"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "vve7kMhgurSwPWi6S",
                                "type": "schemas"
                            },
                            {
                                "_id": "FTA2YcjxEPyAFfYe8",
                                "type": "schemas"
                            },
                            {
                                "_id": "singlesend_request",
                                "type": "schemas"
                            },
                            {
                                "_id": "singlesend_response_short",
                                "type": "schemas"
                            },
                            {
                                "_id": "singlesend_response",
                                "type": "schemas"
                            },
                            {
                                "_id": "singlesend_search",
                                "type": "schemas"
                            },
                            {
                                "_id": "singlesend_schedule",
                                "type": "schemas"
                            },
                            {
                                "_id": "singlesend_warning",
                                "type": "schemas"
                            },
                            {
                                "_id": "abtest_summary",
                                "type": "schemas"
                            },
                            {
                                "_id": "POST_marketing-singlesends",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_marketing-singlesends-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "POST_marketing-singlesends-search",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_marketing-singlesends-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PUT_marketing-singlesends-id-schedule",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_marketing-singlesends",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_marketing-singlesends-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_marketing-singlesends-categories",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_marketing-singlesends-id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_marketing-singlesends",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_marketing-singlesends-id-schedule",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Single Sends",
                        "description": "A Single Send is a one-time nonautomated email message delivered to a list or segment of your audience. A Single Send may be sent immediately or scheduled for future delivery.\n\nSingle Sends can serve many use cases, including promotional offers, engagement campaigns, newsletters, announcements, legal notices, or policy updates.\n\nThe Single Sends API allows you to create, retrieve, update, delete, schedule, and deliver your Single Sends. There are also endpoints for searching and statistics to help you maintain and alter your Single Sends as you learn more and further develop your campaigns.\n\nThe Single Sends API changed on **May 6, 2020**. Please check the SendGrid Knowledge Center for updates and instructions here: [https://sendgrid.com/docs/for-developers/sending-email/single-sends-2020-update/](https://sendgrid.com/docs/for-developers/sending-email/single-sends-2020-update/)"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "POST_marketing-test-sendemail",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Send Test Email"
                    },
                    {
                        "divider": false,
                        "items": [
                            {
                                "_id": "automationQueryParams",
                                "type": "traits"
                            },
                            {
                                "_id": "singlesendQueryParams",
                                "type": "traits"
                            },
                            {
                                "_id": "singlesendQueryParams2",
                                "type": "traits"
                            },
                            {
                                "_id": "errorResponse",
                                "type": "traits"
                            },
                            {
                                "_id": "baseParams",
                                "type": "traits"
                            },
                            {
                                "_id": "pagination",
                                "type": "traits"
                            },
                            {
                                "_id": "errors",
                                "type": "schemas"
                            },
                            {
                                "_id": "metadata",
                                "type": "schemas"
                            },
                            {
                                "_id": "metrics",
                                "type": "schemas"
                            },
                            {
                                "_id": "singlesends-response",
                                "type": "schemas"
                            },
                            {
                                "_id": "automations-response",
                                "type": "schemas"
                            },
                            {
                                "_id": "automations-link-stats-response",
                                "type": "schemas"
                            },
                            {
                                "_id": "singlesends-link-stats-response",
                                "type": "schemas"
                            },
                            {
                                "_id": "link-tracking-metadata",
                                "type": "schemas"
                            },
                            {
                                "_id": "getall-automation-stats",
                                "type": "endpoints"
                            },
                            {
                                "_id": "get-automation-stat",
                                "type": "endpoints"
                            },
                            {
                                "_id": "getall-singlesend-stats",
                                "type": "endpoints"
                            },
                            {
                                "_id": "get-singlesend-stat",
                                "type": "endpoints"
                            },
                            {
                                "_id": "get-automation-link-stat",
                                "type": "endpoints"
                            },
                            {
                                "_id": "get-singlesend-link-stat",
                                "type": "endpoints"
                            },
                            {
                                "_id": "get-singlesend-stats-export",
                                "type": "endpoints"
                            },
                            {
                                "_id": "get-automations-stats-export",
                                "type": "endpoints"
                            }
                        ],
                        "name": "Marketing Campaigns Stats",
                        "description": "The Marketing Campaigns Stats endpoints allow you to retrieve stats for both Automations and Single Sends.\n\n**Note:** These endpoints provide stats for Marketing Campaigns only. For stats related to event tracking, please see the **Stats** section under **Event Tracking** below."
                    },
                    {
                        "divider": true,
                        "items": [],
                        "name": "Legacy Marketing Campaigns"
                    },
                    {
                        "name": "Sender Identities API",
                        "items": [
                            {
                                "_id": "senderID",
                                "type": "schemas"
                            },
                            {
                                "_id": "sender-id-request",
                                "type": "schemas"
                            },
                            {
                                "_id": "POST_senders",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_v3-senders",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_v3-senders-sender_id",
                                "type": "endpoints"
                            },
                            {
                                "_id": "PATCH_v3-senders-sender_id",
                                "type": "endpoints"
                            },
                            {
                                "type": "endpoints",
                                "_id": "POST_v3-senders-sender_id-resend_verification"
                            },
                            {
                                "_id": "DELETE_v3-senders-sender_id",
                                "type": "endpoints"
                            }
                        ],
                        "description": "A [Sender Identity](https://sendgrid.com/docs/for-developers/sending-email/sender-identity/) is the email address from which an email is sent. Sender Identities must be verified before use.\n\nIf your domain has been authenticated, it will auto verify on creation. Otherwise, a verification email will be sent to the `from.email`.",
                        "divider": false
                    },
                    {
                        "items": [
                            {
                                "type": "schemas",
                                "_id": "contactdb_list"
                            },
                            {
                                "_id": "POST_contactdb-lists",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_contactdb-lists",
                                "type": "endpoints"
                            },
                            {
                                "_id": "DELETE_contactdb-lists",
                                "type": "endpoints"
                            },
                            {
                                "_id": "GET_contactdb-lists-listid",
                                "type": "endpoints"
                            },
[...]
