{
    "swagger": "2.0",
    "schemes": [
        "http",
        "https"
    ],
    "basePath": "/v3",
    "host": "api.sendgrid.com",
    "info": {
        "version": "3.0",
        "title": "DX - v3 - Officially Documented Only - DO NOT EDIT",
        "description": "# The SendGrid Web API V3 Documentation\n\nThis is the entirety of the documented v3 endpoints. We have updated all the descriptions, parameters, requests, and responses.\n\n## Authentication \n\nEvery endpoint requires Authentication in the form of an Authorization Header:\n\nAuthorization: Bearer API_KEY\n\n"
    },
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/partner_settings/sendwithus": {
            "parameters": [],
            "patch": {
                "description": "",
                "operationId": "Update SendWithUs Settings",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "properties": {
                                "body": {
                                    "description": "",
                                    "schema": {
                                        "type": "object"
                                    }
                                }
                            },
                            "required": [
                                "body"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "summary": ""
            },
            "get": {
                "description": "",
                "operationId": "Get SendWithUs Settings",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object"
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/asm/groups/{group_id}": {
            "parameters": [
                {
                    "name": "group_id",
                    "in": "path",
                    "description": "The id of the suppression group you want to delete.",
                    "required": true,
                    "type": "integer"
                }
            ],
            "delete": {
                "description": "**This endpoint allows you to delete a suppression group.**\n\nYou can only delete groups that have not been attached to sent mail in the last 60 days. If a recipient uses the \"one-click unsubscribe\" option on an email associated with a deleted group, that recipient will be added to the global suppression list.\n\nSuppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.\n\nThe **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.\n\nEach user can create up to 25 different suppression groups.",
                "operationId": "Delete a suppression group.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "204": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "summary": "A single suppression group object with all its details",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "get": {
                "description": "**This endpoint allows you to retrieve a single suppression group.**\n\nSuppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.\n\nThe **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.\n\nEach user can create up to 25 different suppression groups.",
                "operationId": "Get information on a single suppression group.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/definitions/suppression_group"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "unsubscribes": {
                                            "type": "integer",
                                            "description": "The unsubscribes associated with this group."
                                        }
                                    }
                                }
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "id": 100,
                                "name": "Newsletters",
                                "description": "Our monthly newsletter.",
                                "last_email_sent_at": null,
                                "is_default": true,
                                "unsubscribes": 400
                            }
                        }
                    }
                },
                "summary": "You can only delete groups that have not been attached to sent mail in the last 60 days. If a recipient uses the “one-cl",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "patch": {
                "description": "**This endpoint allows you to update or change a suppression group.**\n\nSuppression groups, or unsubscribe groups, are specific types or categories of email that you would like your recipients to be able to unsubscribe from. For example: Daily Newsletters, Invoices, System Alerts.\n\nThe **name** and **description** of the unsubscribe group will be visible by recipients when they are managing their subscriptions.\n\nEach user can create up to 25 different suppression groups.",
                "operationId": "Update a suppression group.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "number",
                                    "description": "The id of the suppression group."
                                },
                                "name": {
                                    "type": "string",
                                    "description": "The name of the suppression group. Each group created by a user must have a unique name.",
                                    "maxLength": 30
                                },
                                "description": {
                                    "type": "string",
                                    "description": "The description of the suppression group.",
                                    "maxLength": 100
                                },
                                "is_default": {
                                    "type": "boolean",
                                    "description": "Indicates if the suppression group is set as the default group."
                                }
                            },
                            "required": [
                                "name"
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/suppression_group"
                        },
                        "examples": {
                            "application/json": {
                                "id": 103,
                                "name": "Item Suggestions",
                                "description": "Suggestions for items our users might like."
                            }
                        }
                    }
                },
                "summary": ""
            }
        },
        "/tracking_settings/open": {
            "parameters": [],
            "get": {
                "description": "",
                "operationId": "Get Open Tracking Settings",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "enabled": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "enabled": true
                            }
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "patch": {
                "description": "",
                "operationId": "Update Open Tracking Settings",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "enabled": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "enabled": {
                                    "type": "boolean"
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "enabled": true
                            }
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/mailbox_providers/stats": {
            "parameters": [],
            "get": {
                "description": "**This endpoint allows you to retrieve your email statistics segmented by recipient mailbox provider.**\n\n**We only store up to 7 days of email activity in our database.** By default, 500 items will be returned per request via the Advanced Stats API endpoints.\n\nAdvanced Stats provide a more in-depth view of your email statistics and the actions taken by your recipients. You can segment these statistics by geographic location, device type, client type, browser, and mailbox provider. For more information about statistics, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Statistics/index.html).",
                "operationId": "Retrieve email statistics by mailbox provider.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "The number of results to include on each page.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "The number of results to exclude.",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "aggregated_by",
                        "in": "query",
                        "description": "How to group the stats. Must be either \"day\", \"wee\", or \"month\".",
                        "required": false,
                        "type": "string",
                        "enum": [
                            "day",
                            "week",
                            "month"
                        ]
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "The starting date of the statistics to retrieve. Must follow format YYYY-MM-DD.",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "The end date of the statistics to retrieve. Defaults to today. Must follow format YYYY-MM-DD.",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "mailbox_providers",
                        "in": "query",
                        "description": "The mail box providers to get statistics for. You can include up to 10 by including this parameter multiple times.",
                        "required": false,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/advanced_stats_mailbox_provider"
                            }
                        },
                        "examples": {
                            "application/json": [
                                {
                                    "date": "2015-10-11",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-12",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-13",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-14",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-15",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-16",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-17",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-18",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-19",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-20",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-21",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 1,
                                                "drops": 0,
                                                "opens": 1,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 1
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-22",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-23",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-24",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-25",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-26",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 2,
                                                "drops": 0,
                                                "opens": 2,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 2
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-27",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-28",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-29",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-30",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-10-31",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-11-01",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-11-02",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-11-03",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-11-04",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-11-05",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-11-06",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-11-07",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-11-08",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-11-09",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                },
                                {
                                    "date": "2015-11-10",
                                    "stats": [
                                        {
                                            "type": "mailbox_provider",
                                            "name": "Gmail",
                                            "metrics": {
                                                "blocks": 0,
                                                "bounces": 0,
                                                "clicks": 0,
                                                "deferred": 0,
                                                "delivered": 0,
                                                "drops": 0,
                                                "opens": 0,
                                                "spam_reports": 0,
                                                "unique_clicks": 0,
                                                "unique_opens": 0
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/contactdb/lists/{list_id}/recipients": {
            "parameters": [
                {
                    "name": "list_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "description": "List all the recipients currently on a specific list.\n\nThe contactdb is a database of your contacts for [SendGrid Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html).",
                "operationId": "List Recipients on a List",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Page index of first recipient to return (must be a positive integer)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "page_size",
                        "in": "query",
                        "description": "Number of recipients to return at a time (must be a positive integer between 1 and 1000)",
                        "required": false,
                        "type": "integer"
                    },
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The ID of the list whose recipients you are requesting.",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "recipients": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/definitions/contactdb_recipient"
                                    }
                                }
                            }
                        },
                        "examples": {
                            "application/json": {
                                "recipients": [
                                    {
                                        "created_at": 1433348344,
                                        "custom_fields": [
                                            {
                                                "id": 6234,
                                                "name": "age",
                                                "type": "number",
                                                "value": null
                                            },
                                            {
                                                "id": 6233,
                                                "name": "country",
                                                "type": "text",
                                                "value": null
                                            },
                                            {
                                                "id": 6235,
                                                "name": "fname",
                                                "type": "text",
                                                "value": "Example"
                                            },
                                            {
                                                "id": 6239,
                                                "name": "lname",
                                                "type": "text",
                                                "value": "User"
                                            },
                                            {
                                                "id": 6240,
                                                "name": "lname",
                                                "type": "text",
                                                "value": null
                                            }
                                        ],
                                        "email": "example@example.com",
                                        "first_name": "Example",
                                        "id": "ZGVWfyZWsuYmFpbmVzQHNlbmRmCmLkLmNv==",
                                        "last_clicked": 1438616117,
                                        "last_emailed": 1438613272,
                                        "last_name": "User",
                                        "last_opened": 1438616109,
                                        "updated_at": 1438616119
                                    }
                                ]
                            }
                        }
                    },
                    "400": {
                        "description": "\"list_id\" : \"Returned if list_id is not a valid integer\"\n\"page\" : \"Returned if page is not a valid integer\"\n\"page\" : \"Returned if page is less than 1\"\n\"page_size\" : \"Returned if page_size is not a valid integer\"\n\"page_size\" : \"Returned if page_size is less than 1 or greater than 1000\"",
                        "schema": {
                            "$ref": "#/definitions/global:ErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "errors": [
                                    {
                                        "field": "list_id",
                                        "message": "Returned if list_id is not a valid integer"
                                    },
                                    {
                                        "field": "page",
                                        "message": "Returned if page is not a valid integer"
                                    },
                                    {
                                        "field": "page",
                                        "message": "Returned if page is less than 1"
                                    },
                                    {
                                        "field": "page_size",
                                        "message": "Returned if page_size is not a valid integer"
                                    },
                                    {
                                        "field": "page_size",
                                        "message": "Returned if page_size is less than 1 or greater than 1000"
                                    }
                                ]
                            }
                        }
                    },
                    "404": {
                        "description": "\"list_id\" : \"Returned if list_id does not exist\"",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        },
                        "examples": {
                            "application/json": {
                                "errors": [
                                    {
                                        "field": "list_id",
                                        "message": "Returned if list_id is invalid"
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "post": {
                "description": "Adds existing recipients to a list, passing in the recipient IDs to add. Recipient IDs should be passed exactly as they are returned from recipient endpoints.\n\nThe contactdb is a database of your contacts for [SendGrid Marketing Campaigns](https://sendgrid.com/docs/User_Guide/Marketing_Campaigns/index.html).",
                "operationId": "Add Multiple Recipients to a List",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "list_id",
                        "in": "query",
                        "description": "The list to add your recipients to. ",
                        "required": true,
                        "type": "number"
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "type": "null"
                        }
                    },
                    "400": {
                        "description": "\"list_id\" : \"Returned if list_id is not a valid integer\"\n\"\" : \"Returned if no valid recipient ids were passed\"\n\"\" : \"Returned if no recipients were added\"\n\"\" : \"Returned if request body is invalid JSON\"",
                        "schema": {
                            "$ref": "#/definitions/global:ErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "errors": [
                                    {
                                        "field": "list_id",
                                        "message": "list_id is invalid"
                                    },
                                    {
                                        "field": "recipient_id",
                                        "message": "no valid recipients were provided"
                                    },
                                    {
                                        "field": null,
                                        "message": "no recipients were added"
                                    },
                                    {
                                        "field": null,
                                        "message": "request body is invalid JSON"
                                    }
                                ]
                            }
                        }
                    },
                    "401": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/global:ErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "errors": [
                                    {
                                        "field": null,
                                        "message": "authorization required"
                                    }
                                ]
                            }
                        }
                    },
                    "404": {
                        "description": "\"list_id\": \"Returned if list_id does not exist\"",
                        "schema": {
                            "$ref": "#/definitions/global:ErrorResponse"
                        },
                        "examples": {
                            "application/json": {
                                "errors": [
                                    {
                                        "field": "list_id",
                                        "message": "list_id does not exist"
                                    },
                                    {
                                        "field": "recipient_id",
                                        "message": "recipient_id does not exist"
                                    }
                                ]
                            }
                        }
                    }
                },
                "summary": "Adds existing recipients to a list, passing in the recipient IDs to add. Recipient IDs should be passed exactly as they ",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/templates/{template_id}/versions": {
            "parameters": [
                {
                    "name": "template_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "description": "**This endpoint allows you to create a new version of a template.**\n\nEach transactional template can have multiple versions, each version with its own subject and content. Each user can have up to 300 versions across across all templates.\n\nFor more information about transactional templates, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Transactional_Templates/index.html).\n",
                "operationId": "Create a new transactional template version.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/transactional_template_version"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "The id of the new transactional template version."
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "The date and time that this transactional template version was updated."
                                },
                                "Transactional Template Version": {
                                    "$ref": "#/definitions/transactional_template_version"
                                }
                            },
                            "required": [
                                "id",
                                "updated_at"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "id": "8aefe0ee-f12b-4575-b5b7-c97e21cb36f3",
                                "template_id": "ddb96bbc-9b92-425e-8979-99464621b543",
                                "active": 1,
                                "name": "example_version_name",
                                "html_content": "<%body%>",
                                "plain_content": "<%body%>",
                                "subject": "<%subject%>",
                                "updated_at": "2014-03-19 18:56:33"
                            }
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/whitelabel/domains/default": {
            "parameters": [],
            "get": {
                "description": "**This endpoint allows you to retrieve the default whitelabel for a domain.**\n\nA domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.\n\nFor more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)\n\n## URI Parameters\n| URI Parameter   | Type   | Description  |\n|---|---|---|\n| domain | string  |The domain to find a default domain whitelabel for. |",
                "operationId": "Get the default domain whitelabel.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/whitelabel:domain_spf"
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/whitelabel/domains/{id}/ips/{ip}": {
            "parameters": [
                {
                    "name": "id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "ip",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "delete": {
                "description": "**This endpoint allows you to remove a domain's IP address from that domain's whitelabel.**\n\nA domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.\n\nFor more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)\n\n## URI Parameters\n| URI Parameter   | Type  | Description  |\n|---|---|---|\n| id | integer  | ID of the domain whitelabel to delete the IP from. |\n| ip | string | IP to remove from the domain whitelabel. |",
                "operationId": "Remove an IP from a domain whitelabel.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/whitelabel:domain_spf"
                        },
                        "examples": {
                            "application/json": {
                                "id": 1,
                                "domain": "example.com",
                                "subdomain": "mail",
                                "username": "mail@example.com",
                                "user_id": 7,
                                "ips": [],
                                "custom_spf": true,
                                "default": false,
                                "legacy": false,
                                "automatic_security": false,
                                "valid": false,
                                "dns": {
                                    "mail_server": {
                                        "host": "mail.example.com",
                                        "type": "mx",
                                        "data": "sendgrid.net",
                                        "valid": false
                                    },
                                    "subdomain_spf": {
                                        "host": "mail.example.com",
                                        "type": "txt",
                                        "data": "v=spf1 ip4:192.168.1.1 ip4:192.168.0.1 -all",
                                        "valid": false
                                    },
                                    "domain_spf": {
                                        "host": "example.com",
                                        "type": "txt",
                                        "data": "v=spf1 include:mail.example.com -all",
                                        "valid": false
                                    },
                                    "dkim": {
                                        "host": "s1._domainkey.example.com",
                                        "type": "txt",
                                        "data": "k=rsa; t=s; p=publicKey",
                                        "valid": false
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/templates/{template_id}/versions/{version_id}": {
            "parameters": [
                {
                    "name": "template_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "version_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "description": "**This endpoint allows you to retrieve a specific version of a template.**\n\nEach transactional template can have multiple versions, each version with its own subject and content. Each user can have up to 300 versions across across all templates.\n\nFor more information about transactional templates, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Transactional_Templates/index.html).\n\n## URI Parameters\n| URI Parameter | Type | Description |\n|---|---|---|\n| template_id | string | The ID of the original template |\n| version_id | string |  The ID of the template version |",
                "operationId": "Retrieve a specific transactional template version.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "The ID of the template version."
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "The date and time that the template version was last updated."
                                },
                                "Transactional Template Version": {
                                    "$ref": "#/definitions/transactional_template_version"
                                }
                            },
                            "required": [
                                "id",
                                "updated_at"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "id": "5997fcf6-2b9f-484d-acd5-7e9a99f0dc1f",
                                "template_id": "d51480ca-ca3f-465c-bc3e-ceb71d73c38d",
                                "active": 1,
                                "name": "version 1 name",
                                "html_content": "<%body%>",
                                "plain_content": "<%body%>",
                                "subject": "<%subject%>",
                                "updated_at": "2014-03-19 18:56:33"
                            }
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "delete": {
                "description": "**This endpoint allows you to delete one of your transactional template versions.**\n\nEach transactional template can have multiple versions, each version with its own subject and content. Each user can have up to 300 versions across across all templates.\n\nFor more information about transactional templates, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Transactional_Templates/index.html).\n\n## URI Parameters\n| URI Parameter | Type | Description |\n|---|---|---|\n| template_id | string | The ID of the original template |\n| version_id | string | The ID of the template version |",
                "operationId": "Delete a transactional template version.",
                "consumes": [
                    "application/json"
                ],
                "produces": [],
                "parameters": [],
                "responses": {
                    "204": {
                        "description": "",
                        "schema": {
                            "type": "null"
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "patch": {
                "description": "**This endpoint allows you to edit a version of one of your transactional templates.**\n\nEach transactional template can have multiple versions, each version with its own subject and content. Each user can have up to 300 versions across across all templates.\n\nFor more information about transactional templates, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Transactional_Templates/index.html).\n\n## URI Parameters\n| URI Parameter | Type | Description |\n|---|---|---|\n| template_id | string | The ID of the original template |\n| version_id | string | The ID of the template version |",
                "operationId": "Edit a transactional template version.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "active": {
                                    "type": "integer",
                                    "description": "Indicates if the template version is active."
                                },
                                "name": {
                                    "type": "string",
                                    "description": "The name of the template version."
                                },
                                "html_content": {
                                    "type": "string",
                                    "description": "The HTML content of the template version."
                                },
                                "plain_content": {
                                    "type": "string",
                                    "description": "The text/plain content of the template version."
                                },
                                "subject": {
                                    "type": "string",
                                    "description": "The subject of the template version."
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "The ID of the template version."
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "The date and time that the template version was last updated."
                                },
                                "Transactional Template Version": {
                                    "$ref": "#/definitions/transactional_template_version"
                                }
                            },
                            "required": [
                                "id",
                                "updated_at"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "id": "5997fcf6-2b9f-484d-acd5-7e9a99f0dc1f",
                                "template_id": "d51480ca-ca3f-465c-bc3e-ceb71d73c38d",
                                "active": 1,
                                "name": "version 1 name",
                                "html_content": "<%body%>",
                                "plain_content": "<%body%>",
                                "subject": "<%subject%>",
                                "updated_at": "2014-03-19 18:56:33"
                            }
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/templates/{template_id}/versions/{version_id}/activate": {
            "parameters": [
                {
                    "name": "template_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                },
                {
                    "name": "version_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "description": "**This endpoint allows you to activate a version of one of your templates.**\n\nEach transactional template can have multiple versions, each version with its own subject and content. Each user can have up to 300 versions across across all templates.\n\n\nFor more information about transactional templates, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Transactional_Templates/index.html).\n\n## URI Parameters\n| URI Parameter | Type | Description |\n|---|---|---|\n| template_id | string | The ID of the original template |\n| version_id | string |  The ID of the template version |",
                "operationId": "Activate a transactional template version.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "description": "The ID of the template version."
                                },
                                "updated_at": {
                                    "type": "string",
                                    "description": "The date and time that the version was last updated."
                                },
                                "Transactional Template Version": {
                                    "$ref": "#/definitions/transactional_template_version"
                                }
                            },
                            "required": [
                                "id",
                                "updated_at"
                            ]
                        },
                        "examples": {
                            "application/json": {
                                "id": "8aefe0ee-f12b-4575-b5b7-c97e21cb36f3",
                                "template_id": "e3a61852-1acb-4b32-a1bc-b44b3814ab78",
                                "active": 1,
                                "name": "example_version_name",
                                "html_content": "<%body%>",
                                "plain_content": "<%body%>",
                                "subject": "<%subject%>",
                                "updated_at": "2014-06-12 11:33:00"
                            }
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/ips/pools/{pool_name}": {
            "parameters": [
                {
                    "name": "pool_name",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "get": {
                "description": "",
                "operationId": "List the IPs in a specified pool.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "pool_name": {
                                    "type": "string"
                                },
                                "ips": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "delete": {
                "description": "",
                "operationId": "Delete an IP pool.",
                "consumes": [
                    "application/json"
                ],
                "produces": [],
                "parameters": [],
                "responses": {
                    "204": {
                        "description": "",
                        "schema": {
                            "type": "object",
                            "properties": {}
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "put": {
                "description": "",
                "operationId": "Update an IP pool’s name.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "$ref": "#/definitions/ip_pool"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/ip_pool"
                        },
                        "examples": {
                            "application/json": {
                                "name": "new_pool_name"
                            }
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/whitelabel/domains/{domain_id}/subuser": {
            "parameters": [
                {
                    "name": "domain_id",
                    "in": "path",
                    "required": true,
                    "type": "string"
                }
            ],
            "post": {
                "description": "**This endpoint allows you to associate a specific domain whitelabel with a subuser.**\n\nA domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.\n\nDomain whitelabels can be associated with (i.e. assigned to) subusers from a parent account. This functionality allows subusers to send mail using their parent's whitelabels. To associate a whitelabel with a subuser, the parent account must first create the whitelabel and validate it. The the parent may then associate the whitelabel via the subuser management tools.\n\nFor more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)\n\n## URI Parameters\n| URI Parameter   | Type   | Description  |\n|---|---|---|\n| domain_id | integer   | ID of the domain whitelabel to associate with the subuser. |",
                "operationId": "Associate a domain whitelabel with a given user.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "body",
                        "in": "body",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "username": {
                                    "type": "string",
                                    "description": "Username to associate with the domain whitelabel."
                                }
                            },
                            "required": [
                                "username"
                            ]
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/whitelabel:domain_spf"
                        },
                        "examples": {
                            "application/json": {
                                "id": 1,
                                "domain": "example.com",
                                "subdomain": "mail",
                                "username": "mail@example.com",
                                "user_id": 7,
                                "ips": [],
                                "custom_spf": true,
                                "default": false,
                                "legacy": false,
                                "automatic_security": false,
                                "valid": false,
                                "dns": {
                                    "mail_server": {
                                        "host": "mail.example.com",
                                        "type": "mx",
                                        "data": "sendgrid.net",
                                        "valid": false
                                    },
                                    "subdomain_spf": {
                                        "host": "mail.example.com",
                                        "type": "txt",
                                        "data": "v=spf1 ip4:192.168.1.1 ip4:192.168.0.1 -all",
                                        "valid": false
                                    },
                                    "domain_spf": {
                                        "host": "example.com",
                                        "type": "txt",
                                        "data": "v=spf1 include:mail.example.com -all",
                                        "valid": false
                                    },
                                    "dkim": {
                                        "host": "s1._domainkey.example.com",
                                        "type": "txt",
                                        "data": "k=rsa; t=s; p=publicKey",
                                        "valid": false
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "",
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/whitelabel/domains/subuser": {
            "parameters": [],
            "get": {
                "description": "**This endpoint allows you to retrieve all of the whitelabels that have been assigned to a specific subuser.**\n\nA domain whitelabel allows you to remove the “via” or “sent on behalf of” message that your recipients see when they read your emails. Whitelabeling a domain allows you to replace sendgrid.net with your personal sending domain. You will be required to create a subdomain so that SendGrid can generate the DNS records which you must give to your host provider. If you choose to use Automated Security, SendGrid will provide you with 3 CNAME records. If you turn Automated Security off, you will be given 2 TXT records and 1 MX record.\n\nDomain whitelabels can be associated with (i.e. assigned to) subusers from a parent account. This functionality allows subusers to send mail using their parent's whitelabels. To associate a whitelabel with a subuser, the parent account must first create the whitelabel and validate it. The the parent may then associate the whitelabel via the subuser management tools.\n\nFor more information on whitelabeling, please see our [User Guide](https://sendgrid.com/docs/User_Guide/Settings/Whitelabel/index.html)\n\n## URI Parameters\n| URI Parameter   | Type  | Description  |\n|---|---|---|\n| username | string  | Username of the subuser to find associated whitelabels for. |",
                "operationId": "List the domain whitelabel associated with the given user.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "",
                        "schema": {
                            "$ref": "#/definitions/whitelabel:domain_spf"
                        },
                        "examples": {
                            "application/json": {
                                "id": 1,
                                "domain": "example.com",
                                "subdomain": "mail",
                                "username": "mail@example.com",
                                "user_id": 7,
                                "ips": [],
                                "custom_spf": true,
                                "default": false,
                                "legacy": false,
                                "automatic_security": false,
                                "valid": false,
                                "dns": {
                                    "mail_server": {
                                        "host": "mail.example.com",
                                        "type": "mx",
                                        "data": "sendgrid.net",
                                        "valid": false
                                    },
                                    "subdomain_spf": {
                                        "host": "mail.example.com",
                                        "type": "txt",
[...]
