[ req ]
default_bits       = 2048
prompt             = no
distinguished_name = req_distinguished_name
req_extensions     = req_ext

[ req_distinguished_name ]
countryName            = US
stateOrProvinceName    = California
localityName           = San Francisco
organizationName       = Twilio
organizationalUnitName = SendGrid
commonName             = *.sendgrid.com
emailAddress           = team_interfaces@twilio.com

[ req_ext ]
subjectAltName = @alt_names

[alt_names]
DNS.1   = sendgrid.com